<%- include('header'); -%>
<div class="box" id="heading">
    <h1>About To-Do List</h1>
</div>
<div class="box-lg">
    <p>This is a wonderful way to plan your activities daily. It is very easy to use.</p>
</div>
<%- include('footer'); -%>